
// center the profile items
.profile {
  text-align: center;
}
// profile image size
.profile img {
   width: 65%;
   max-width: 65%;
}
// profile address size
.profile .more-info {
   font-size: smaller;
}

// social media icon sizes
.social .contact-icons {
  font-size: larger !important;
  letter-spacing: 3px;
}

// news dates should not be bold
#my_news_area .news table th {
  font-weight: normal !important;
}
// news title
#my_news_area h2 {
  margin-top: 1em;
}
// item padding
#my_news_area td, #my_news_area th{
  padding: .5em 0em 0em 0em !important;
  font-size: medium;
}
#my_news_area .table {
  width: auto !important;
}

.paper-status {
  color: var(--global-highlight-color);
  font-weight: normal;
  font-size: smaller;
}

.home-page-subtitles {
  margin-top: 25px;
  display: inline-block;
}

#clustermap-hide {
  display: none;
  width: 0px;
  height: 0px;
}